<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Изучение Vue.js</title>
  <link rel="stylesheet" href="theme.css"/>
</head>
<body>
 <div class="container pt-5" id="app">
     <div class="card">
         <h1 :style="{color: inputValue.length < 5 ? 'red' : 'green', fontSize:inputValue.length < 5 ? '3rem' : '2rem' }">{{ title }}</h1>
         <div class="form-control">
           <input type="text"
           v-bind:placeholder="placeholder"
           v-model="inputValue"
           v-on:keypress.enter="addNewNote"
           />
          <!-- v-bind:value="inputValue"  -->
           <!-- v-on:input="inputChange" -->
         </div>
         <!-- <h2>inputValue: {{inputValue}}</h2> -->
         <button class="btn" v-on:click="addNewNote">Add</button>
         <hr/>
         <ul class="list" v-if="notes.length !== 0">
           <li class="list-item" v-for="(note, i) in notes">
             <span :class="note.length <5 ? 'primary' : 'bold'" >{{i+1}}. {{toUpperCase(note)}}</span>
             <span v-if="change === false" v-show="test === i"><input type="text" v-model="inputValueR"/></span>
             <button class="btn danger" v-on:click="removeNote(i)">Delete</button>
             <button class="btn" @click="changeNote(i)">Change</button>
             <button class="btn" v-if="change === false" @click="changeNoteB(i)">Save</button>
           
           </li>
           <hr/>
           <li>
             <strong>All notes: {{notes.length}}</strong>
           </li>
         </ul>
         <div v-if="notes.length ===0">No notes..</div>
         
     </div>
 </div>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="app.js"></script>
</body>
</html>