<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Изучение Vue.js</title>
  <link rel="stylesheet" href="theme.css"/>
</head>
<body>
 <div class="container pt-5" id="app">
     <div class="card">
         <h1 :style="{color: inputValue.length <5 ? 'red' : 'green'}">{{ title }}</h1>
         <div class="form-control">
           <input type="text"
           v-bind:placeholder="placeholder"
           
           v-model="inputValue"
           v-on:input="inputChange"
           v-on:keypress.enter="addNewNote"
           />
          <!-- v-bind:value="inputValue"  -->

         </div>
         <!-- <h2>inputValue: {{inputValue}}</h2> -->
         <button class="btn" v-on:click="addNewNote">Add</button>
         <hr/>
         <ul class="list" v-if="notes.length !== 0">
           <li class="list-item" v-for="(note, i) in notes">
             {{i+1}}. {{toUpperCase(note)}}
             <button class="btn danger" v-on:click="removeNote(i)">Delete</button>
           </li>
           <hr/>
           <li>
             <strong>All notes: {{notes.length}}</strong>
           </li>
         </ul>
         <div v-if="notes.length ===0">No notes..</div>
         
     </div>
 </div>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="app.js"></script>
</body>
</html>